# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
SourcePackages/
.swiftpm/

# CocoaPods
Pods/

# OS
.DS_Store
*.swp
*~

# Secrets
.env
*.p8
*.p12
